<div class="contact-info container-fluid">
	<dl class="dl-horizontal">
		<dt>Email</dt>
		<dd>
			<p>Harlan Iverson &lt;<a href="mailto:harlan@analogzen.com">harlan@analogzen.com</a>&gt;</p>
		</dd>

		<dt>Location</dt>
		<dd>
			<ul class="inline">
				<li><abbr title="my present location"><strong>Minneapolis</strong></abbr></li>
				<li>SF</li>
				<li>Denver</li>
			</ul>
		</dd>

		<dt>Blog</dt>
		<dd>
			<ul class="inline">
				<li><a href="http://harlanji.tumblr.com">log_h</a></li>
				<li><a href="http://blog.devspan.com/">Harlan's Development Journal</a> (Historical)</li>
			</ul>
		</dd>

		<dt>Social Media</dt>
		<dd>
			<ul class="inline">
				<li><a href="https://linkedin.com/in/harlanji">LinkedIn</a></li>
				<li><a href="https://github.com/harlanji">GitHub</a></li>
				<li><a href="https://twitter.com/harlanji">Twitter</a></li>
				<li><a href="https://instagram.com/harlanji">Instagram</a></li>
			</ul>
		</dd>
	</dl>
</div>