<div class="resume">

{{partial contact_info}}

<h3>What I know</h3>

<!--
	<button class="btn btn-mini" {{action toggleHighlightKeywords}}>Highlight Keywords</button>
-->


<table class="table table-striped">
	<caption>A list of technologies I am interested in, sorted by relative interest.</caption>
	<thead>
		<tr>
			<th>Technology<br/>Proficiency</th>
			<th>Why? Because I have...</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Client Javascript<br/>Intermediate</td>
			<td>
				<p>worked on several frontend projects over many years using a number of frameworks, from some the very earliest (prototype) and have recently been ramping up on <span class="skill">EmberJS</span>, <span class="skill">Bootstrap</span>, NodeJS for the <span class="skill">REST</span> server, related projects.</p>
			</td>
		</tr>
		<tr>
			<td>Java Web<br/>Advanced</td>
			<td>done the majority of development over the past 10 years in Java; varying knowledge of most major frameworks, libraries, build systems, standards--most proficient with <span class="skill">EE6 Web</span>, <span class="skill">Spring</span>, and <span class="skill">CI/CD</span> automation.
		</tr>
		<tr>
			<td>Server Javascript<br/>Intermediate</td>
			<td>
				<p>
					dabbled in <span class="skill">NodeJS</span> development and understand the ideas, but I have not spent a lot of time learning the <span class="skill">NPM</span> library. I have, on the other hand, spent a lot of time learning <span class="skill">deployment good practices</span>.
				</p>
			</td>
		</tr>
		<tr>
			<td>Linux / Cloud Admin<br/>Intermediate</td>
			<td>
				<p>
					used <span class="skill">Linux</span>/*nix to host servers and as my primary OS for most of my career, with a focus on <span class="skill">Ubuntu</span>/<span class="skill">Puppet</span>, dev box <span class="skill">virtualization</span>, and provisionion/deployment/build automation (<span class="skill">continuous deployment</span>). I stand to gain experience with large scale applications.
				</p>
			</td>
		</tr>
		<tr>
			<td>Mojo (Maven)<br/>Intermediate</td>
			<td>
				<p>
					contributed to <span class="skill">Maven plugin development</span> through the {{#linkTo project.maven_js_plugin}}JS Plugin{{/linkTo}} project, which cuts pretty deep into the lifecycle with all the aspects of adding a new language to Maven.
				</p>
			</td>
		</tr>
		<tr>
			<td>Systems Programming (C, Make)<<br/>Intermediate</td>
			<td>
				<p>
					used C for the bulk of my university career, including modifying the query engine for Postgresql 9; I more recently dove intp C++ while extending Mixxx for my {{#linkTo project.dj_with_spotify}}DJ with Spotify{{/linkTo}} project.
				</p>
			</td>
		</tr>
		<tr>
			<td>IM / VoIP Systems<br/>Intermediate</td>
			<td>
				<p>
					used many and developed an extensible XMPP client using DOM and Javascript. I've implemented many XEPs and followed jdev discussion for a number of years. My knowledge of XEPs in the last few years is rusty, but I am capable of ramping up quickly.
				</p>
			</td>
		</tr>
		<tr>
			<td>Lean Startup<br/>Beginner</td>
			<td>
				<p>
					been influenced by Lean ideas and tools, and used them while planning many of my recent projects.
				</p>
			</td>
		</tr>
	</tbody>
</table>

<h3>Where I've been</h3>
<dl>
	<dt>
		Lead Developer at Emota; June 2011 to January 2013 in Mountain View, CA.
	</dt>
	<dd>
		<p>Lead implementation and participated in design of a series of prototypes/products which aimed to bring an intimate/emotional angle to existing social technologies--both software and hardware.</p>
	</dd>

	<dt>
		Web Developer at The Nerdery; July 2009 to September 2009 in Bloomington, MN.
	</dt>
	<dd>
		<p>Developed and maintained websites for media agencies; integrated many various 3rd party APIs.</p>
	</dd>


	<dt>
		Senior Java Developer (ITS-4) at Minnesota Dept. of Human Services; February 2007 to July 2008 in St. Paul, MN.
	</dt>
	<dd>
		<p>Developed a large Java software system; mentored junior developers; analyzed business requirements; developed prototypes using alternative next-generation technologies.</p>
	</dd>


	<dt>
		Web Developer at Plaudit Design; July 2003 to January 2007 in St. Paul, MN.
	</dt>
	<dd>
		<p>Developed web based software for client organizations. Completed dozens of small projects from start to finish, using a wide array of technologies. Contributed to various process / technology improvements.</p>
	</dd>
	<!--
	<dt>
		Passionate and Driven Individual; Forever, everywhere.
	</dt>
	<dd>
		<p>I've done much of {{#linkTo programming}}my best work{{/linkTo}} outside of formal employment, and often with tools I'd never used before. I think of myself as a mere creator, with technology as my canvas.</p>
	</dd>
	-->
</dl>

</div>