
<div id="siteNav" class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#/">Analog Zen</a>


    <ul class="nav">
      <li>{{#linkTo harlan}}<span class="icon">&#x262f;</span>Harlan{{/linkTo}}</li>
      <li>{{#linkTo programming}}<span class="icon">&infin;</span>Programming{{/linkTo}}</li>
      <li>{{#linkTo lean}}<span class="icon">&#x267b;</span>Lean Startup{{/linkTo}}</li>
    </ul>
    
    <p class="navbar-text pull-right"><i class="icon-envelope"></i> <a href="mailto:hello@analogzen.com">hello@analogzen.com</a></p>

  </div>
</div>
