
<div class="hero-unit">
  <div class="row-fluid">
    <div class="span3">
      {{#linkTo harlan}}
      <img class="img-polaroid" src="https://sphotos-a.xx.fbcdn.net/hphotos-prn1/46990_10151401264654422_1090876347_n.jpg" alt="Harlan"/>
      {{/linkTo}}
    </div>
    <div class="span9">
      <h1>Look, a Programmer!</h1>

      <p class="lead">My name is Harlan and I'm actually a human who enjoys programming... where would you like to start?</p>

      <div class="btn-group">
        <a class="btn btn-large" href="#/harlan">Harlan</a>

        <a class="btn btn-primary btn-large" href="#/programming">Programming</a>

        
      </div>
    </div>
  </div>
</div>