<div class="hero-unit">
  <div class="row-fluid">
    <div class="span2">
      {{#linkTo harlan}}
      <img src="https://sphotos-a.xx.fbcdn.net/hphotos-prn1/46990_10151401264654422_1090876347_n.jpg" alt="Harlan"/>
      {{/linkTo}}
    </div>
    <div class="span10">
      <h1>Look, a Programmer!</h1>

      <p>My name is Harlan and I like programming things. I've done a lot, let me show you...</p>

      <a class="btn btn-primary btn-large" href="#/programming">Show Me</a>
    </div>
  </div>
</div>