<div class="row-fluid">

	<div class="span6">
		<h3>Programming</h3>
		<p>I love solving problems and understanding complex systems, so {{#linkTo programming}}programming is my favorite thing{{/linkTo}}. I do it for fun, and use it to earn a living when I can.</p>
	</div>
	<div class="span6">
		<h3>Bicycling</h3>
		<p>Some of my fondest memories in life involve friends and two wheels--having grown up in the biking paradise of South Minneapolis. I'm handy from maintaining / modifying my bikes as a teenager.</p>
	</div>

</div>
<div class="row-fluid">

	<div class="span6">
		<h3>Hiking</h3>
		<p>I love hiking and like to take a day drip at least weekly--I have regular spots, and am becoming interested in longer adventures.</p>
	</div>

	<div class="span6">
		<h3>Reading</h3>
		<p>I have an extensive private library of technical books and articles, and spend many hours per day upgrading my gray matter.</p>
	</div>


</div>
<div class="row-fluid">

	<div class="span6">
		<h3>Traveling</h3>
		<p>I've recently been bitten by the travel bug, and have spent a great deal of time traveling this year--I plan to continue the trend.</p>
	</div>

	<div class="span6">
		<h3>Appreciating Music</h3>
		<p>I spent my formative years at the dawn of Napster, in a city where I could see local bands play any time. My tastes are electic, and I am on the precipice producing some of my own work.</p>
	</div>

</div>