
<p class="lead">I have always been a dreamer and a builder, starting with Crayons and Lego bricks, and <abbr title="TODO fix this pile of cheese">evolving as quickly as bits flip</abbr>.</p>


<h3>What I'm doing this summer</h3>

<p class="lead">I am rebooting my skill-set and {{#linkTo programming.index}}seeking related opportunities{{/linkTo}}, and planning a number of adventures in the great outdoors.</p>

<p>I write this from a table outside at Minnehaha Falls, on a mobile connection. I learned most of the skills necessary to build this site while sitting on the patio of the Roostercat Coffee House, in Denver, CO. I love exploring and travel is my new favorite way to do it.</p>


<!--
	http://blog.stackoverflow.com/2013/02/why-we-still-believe-in-working-remotely/

-->

<!--
<p>I am looking to work doing something like:</p>
<ul>
	<li>Local businesses who need technology help.</li>
	<li>Short-term, remote contracts.</li>
	<li>Employment with flexible time-off policies.</li>
</ul>

-->

<h3>Who I want to be around</h3>

<p class="lead">I prefer to spend my time with positive, progressive people who work smart to support living a principled life.</p>


<p>In a perfect world...</p>
<ul>
	<li>employer/employee would mutually trust and respect each other (operate as equals).</li>
	<li>the sun would be out every day, and I would be under it.</li>
	<li>only urgent things would be marked as urgent.</li>
	<li>life would involve spontaneous adventures.</li>
	<li>only people who wanted to travel, work odd hours, overtime, or be on call would be so.</li>
	<li>employees would not need to sell my geographic location in several-month increments.</li>
</ul>