<div class="pull-right container-fluid">
	<h3>Hiking</h3>
	<p>Some content...</p>
</div>

<div class="container-fluid">
	<h3>Bicycling</h3>
	<p>Some content...</p>
</div>

<div class="pull-right container-fluid">
	<h3>Reading</h3>
	<p>Some content...</p>
</div>

<div class="container-fluid">
	<h3>Traveling</h3>
	<p>Some content...</p>
</div>

<div class="pull-right container-fluid">
	<h3>Programming</h3>
	<p>{{#linkTo programming}}My favorite thing...{{/linkTo}}</p>
</div>


<div class="container-fluid">
	<h3>Music</h3>
	<p>Some content...</p>
</div>