
<h2>What my typical / ideal day looks like</h2>

<dl>
	<dt>7:00 AM</dt>
	<dd>Wake up, meditate, eat, read or workout, get ready to leave the house.</dd>

	<dt>9:00 AM</dt>
	<dd>Start planning the work day / week</dd>

	<dt>10:00 AM</dt>
	<dd>Go to a café for a 2 hour work block; or have a meeting at the home office.</dd>

	<dt>12:00 PM</dt>
	<dd>Taper off into lunch and unstructured time.</dd>

	<dt>1:00 PM</dt>
	<dd>Dive into another work block at home or at a park/coworking space; or have a meeting in the home office.</dd>

	<dt>3:00 PM</dt>
	<dd>Have a snack and move around.</dd>

	<dt>4:00 PM</dt>
	<dd>Dive into a final block of work from home.</dd>


	<dt>6:00 PM</dt>
	<dd>Trail off into dinner and unstructured time for the evening.</dd>

</dl>

<h3>I like my work day to be a certain way</h3>

<h4>Fixed meeting availability</h4>

<p>I am available for collaboration at fixed times (currently CDT):</p>
<ul class="inline">
	<li>10 AM</li>
	<li>1 PM</li>
	<li>3 PM</li>
	<li>5 PM</li>
</ul>
<p>This gives me windows of guaranteed <abbr title="TODO more info about the flow mental state.">flow</abbr> state, and respects the time of whichever client I am working for at a given time; I will answer 911 pages.</p>


<h4>Billing units</h4>

<p>I like to be busy, and I like to plan my days in chunks. Therefore, I plan and bill in fixed units with economy size incentives.
	<ul class="unstyled">
		<li>15 minute increments</li>
		<li>2 hour work blocks</li>
		<li>free office hours</li>
	</ul>
</p>


<h4>First day free</h4>

<p>I'll devote 6 hours to understanding your project and creating a first iteration, so you have full confidence going forward.</p>


<h4>Work from anywhere</h4>

<p>I like to move around, and I am most productive when I do so. I operate from parks and café patios about half the time (1-2 work blocks).</p>

