<h2>I enjoy</h2>
<div class="row-fluid">

	<div class="span6">
		<h3>Programming</h3>
		<p>I love solving problems and understanding complex systems, so {{#linkTo programming}}programming{{/linkTo}} is my favorite thing--more enthralling than any game. I do it for fun, and use it to {{#linkTo programming.resume}}earn a living{{/linkTo}} when I can.</p>
	</div>
	<div class="span6">
		<h3>Bicycling</h3>
		<p>Many of my fondest memories involve friends and bikes. Having grown up in the cycling paradise of South Minneapolis, biking was just a fact of life--weather permitting. I'm fairly mechanical, likely stemming from maintenence and modding as a teenager.</p>
	</div>

</div>
<div class="row-fluid">


	<div class="span6">
		<h3>Appreciating Music</h3>
		<p>I spent my formative years at the dawn of Napster, in a city where I could see local bands play any time. My tastes are electic, and I am starting to produce some of my own work.</p>
	</div>

	<div class="span6">
		<h3>Reading</h3>
		<p>I've read and maintain an extensive collection of technical and entrepreneural materials, and spend many hours per day upgrading my gray matter through reading and journaling.</p>
	</div>


</div>
<div class="row-fluid">
	<div class="span6">
		<h3>Hiking</h3>
		<p>I enjoy hiking and go for day drips at least weekly; I have regular spots, and am becoming interested in longer adventures. It's my sure-fire way of getting nerds to go outside with me.</p>
	</div>


	<div class="span6">
		<h3>Traveling</h3>
		<p>I've recently been bitten by the travel bug, and have recently spent several months traveling and adventuring--I plan to continue the trend in the coming years!</p>
	</div>

</div>


<div class="row-fluid">
	<div class="span6">
		<h3>Writing</h3>
		<p>At peak creative times, I write many short to medium form technical pieces. I've blogged on-and-off about technology and life for over a decade, and have given a number of programming presentations. </p>
	</div>


	<div class="span6">
		<h3>Expression</h3>
		<p>I have recently become aware of visual details, and am looking for ways to learn / apply it when I can. My recent shift from technology to a value focus is a huge driver of this emphasis on expression--it is coming to replace writing.</p>
	</div>

</div>
