<div class="row-fluid">
  <div class="span10 offset1">
    <p>I love the ideas presented in Lean Startup and want to put them into practice. I've never done it before, but I want to practice. If you have an idea and want to build a Lean business together, let me know.</p>

    <p>Some ideas I have or am using a Lean approach to materialize</p>
    <ul>
    	<li>Analog Zen</li>
    	<li>Vapūr Lounge / The BudTender</li>
    	<li>DJ with Spotify</li>
    	<li>Hemp Wick</li>
    </ul>
  </div>
</div>