<div class="row-fluid">
  <div class="span10 offset1">
    <p>Lean Startup concisely puts into writing many ideas that are aligned with my observations and philosophy as a developer and human; I want to put them into practice!</p>

    <p>I am still an amateur, but I want to gain some real experience and become an expert over the medium to long term. If you have an idea and want ameteur Lean Startup advice, I'd love to help!</p>

    <p>In the past year I've used Lean techniques to materialize some ideas to varying degrees:</p>

    <ul>
    	<li>Analog Zen</li>
    	<li>Vapūr Lounge</li>
    	<li>DJ with Spotify</li>
    	<li>Hemp-twine Wick</li>
    </ul>

    <p>Feel free to email me at <a href="mailto:harlan@analogzen.com">harlan@anaogzen.com</a>, and I'll get in touch.</p>
  </div>
</div>