<div class="row-fluid">
  <div class="span8 offset2">
    <p>Lean Startup concisely puts into writing many ideas that are aligned with my observations and philosophy as a developer and human; I want to put them into practice!</p>

    <p>I am still an amateur, but I want to gain some real experience and become an expert over the medium to long term. If you have an idea and want ameteur Lean Startup advice, I'd love to help!</p>

    <p>I bring to the table the ability to understand a vision and drive technology and implementation decisions, from conception to finished product.</p>

    <p>In the past year I've used Lean techniques to materialize some ideas to varying degrees:</p>

    <ul>
        <li>
            An up-and-coming interactive festival (prospective project)
        </li>
        <li>
            A single-market VoIP/telecom company (client project)
        </li>
        <li>
            Project SecureChat
        </li>
    	<li>
            Analog Zen 
            {{#linkTo project.analogzen}}<i class="icon-briefcase"></i>{{/linkTo}}
        </li>
        <li>
            DJ with Spotify 
            <a href="http://djwithspotify.demo.analogzen.com"><i class="icon-globe"></i></a>
            {{#linkTo project.dj_with_spotify}}<i class="icon-briefcase"></i>{{/linkTo}}
        </li>
    	<li>
            Vapūr Lounge 
            <a href="http://vapurlounge.com"><i class="icon-globe"></i></a>
        </li>

    	<li>Hemp-twine Wick</li>
    </ul>

    <p>Feel free to email me at <a href="mailto:hello@analogzen.com">harlan@analogzen.com</a>, and I'll get in touch.</p>
  </div>
</div>