<h3>Personal Projects</h3>

<p>I have been a programmer since I was young. I am <abbr title="Link to young pro section.">self taught</abbr> and augmented by a <abbr title="Link to education section.">formal education</abbr>.</p>

<p class="lead">My current personal project is {{#linkTo project.analogzen}}this portfolio{{/linkTo}}.</p>

<p>My most recent project was {{#linkTo project.dj_with_spotify}}DJ with Spotify{{/linkTo}}, which I presented at [HackerFair].</p>

<p>My most recognized project was {{#linkTo project.soashable}}Soashable{{/linkTo}}, which also involved heavily contributing to {{#linkTo project.maven_js_plugin}}Maven Javascript Plugin{{/linkTo}}.</p>


<h3>Skills &amp; Abilities</h3>

<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Technology</th>
			<th>Proficiency</th>
			<th>Why? Because I have...</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Client Javascript</td>
			<td>Intermediate</td>
			<td>
				<p>worked on several frontend projects over many years using a number of frameworks, from some the very earliest (prototype) and have recently been ramping up on Node+Anglular, Ember, Bootstrap, and related projects.</p>
			</td>
		</tr>
		<tr>
			<td>Java (Web / <abbr title="Continuous Deployment">CD</abbr>)</td>
			<td>Advanced</td>
			<td>done the majority of development over the past 10 years in Java; varying knowledge of most major frameworks, libraries, build systems, standards--most proficient with EE6 Web, Spring, and CI/CD automation.
		</tr>
		<tr>
			<td>Server Javascript</td>
			<td>Intermediate</td>
			<td>
				<p>
					dabbled in NodeJS development and understand the ideas, but I have not spent a lot of time learning the NPM library. I have, on the other hand, spent a lot of time learning deploymenht good practices.
				</p>
			</td>
		</tr>
		<tr>
			<td>Maven (Mojo)</td>
			<td>Intermediate</td>
			<td>
				<p>
					contributed to Maven plugin development through the {{#linkTo project.maven_js_plugin}}JS Plugin{{/linkTo}} project, which cuts pretty deep into the lifecycle with all the aspects of adding a new language to Maven.
				</p>
			</td>
		</tr>
		<tr>
			<td>Maven (Mojo)</td>
			<td>Intermediate</td>
			<td>
				<p>
					contributed to Maven plugin development through the {{#linkTo project.maven_js_plugin}}JS Plugin{{/linkTo}} project, which cuts pretty deep into the lifecycle with all the aspects of adding a new language to Maven.
				</p>
			</td>
		</tr>
	</tbody>
</table>


<p>Nulla condimentum, arcu sit amet gravida sodales, sapien turpis faucibus nunc, vitae rhoncus tellus urna in orci. Cras non ligula non purus fermentum eleifend eu at erat. Quisque bibendum rhoncus dui non auctor. Fusce non neque at mi consectetur volutpat. Curabitur facilisis pretium vestibulum. Quisque varius, ipsum a lobortis porttitor, lectus odio egestas felis, et pulvinar lectus massa non tellus. Suspendisse viverra sagittis ante eu elementum.</p>

<p>Fusce vel mattis tortor. Cras non augue sodales est sodales tincidunt. Sed eu orci metus. Donec condimentum, lacus sed scelerisque pulvinar, velit nisi tincidunt enim, non laoreet odio tortor sed dolor. Proin suscipit auctor ullamcorper. Phasellus nec scelerisque ipsum. Ut ante purus, laoreet vitae tempor at, laoreet in diam. Vivamus elementum accumsan augue nec lacinia.</p>


<h3>Work History</h3>
<dl>
	<dt>
		Lead Developer at Emota; June 2011 to January 2013 in Mountain View, CA.
	</dt>
	<dd>
		<p>Lead implementation and participated in design of a series of prototypes/products which aimed to bring an intimate/emotional angle to existing social technologies--both software and hardware. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis laoreet dolor, ac vestibulum lorem luctus sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent vitae nulla ac tellus suscipit cursus sed non mauris. Mauris dapibus ligula quis magna placerat sed fermentum mi pellentesque.</p>
	</dd>

	<dt>
		Web Developer at The Nerdery; July 2009 to September 2009 in Bloomington, MN.
	</dt>
	<dd>
		<p>Developed and maintained websites for media agencies; integrated many various 3rd party APIs. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis laoreet dolor, ac vestibulum lorem luctus sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent vitae nulla ac tellus suscipit cursus sed non mauris. Mauris dapibus ligula quis magna placerat sed fermentum mi pellentesque.</p>
	</dd>


	<dt>
		Senior Java Developer at Minnesota Dept. of Human Services; February 2007 to July 2008 in St. Paul, MN.
	</dt>
	<dd>
		<p>Developed a large Java software system; mentored junior developers; analyzed business requirements; developed prototypes using alternative next-generation technologies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis laoreet dolor, ac vestibulum lorem luctus sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent vitae nulla ac tellus suscipit cursus sed non mauris. Mauris dapibus ligula quis magna placerat sed fermentum mi pellentesque.</p>
	</dd>


	<dt>
		Web Developer at Plaudit Design; July 2003 to January 2007 in St. Paul, MN.
	</dt>
	<dd>
		<p>Developed web based software for client organizations. Completed dozens of small projects from start to finish, using a wide array of technologies. Contributed to various process / technology improvements. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis laoreet dolor, ac vestibulum lorem luctus sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent vitae nulla ac tellus suscipit cursus sed non mauris. Mauris dapibus ligula quis magna placerat sed fermentum mi pellentesque.</p>
	</dd>
</dl>

<h3>Developer? Programmer? Coder? Hacker? Software Engineer?</h3>

<p>What's the difference? Is there one? In practice these terms are used mostly interchangably, but when describing my role I prefer to use either Hacker or Software Developer. I feel that these terms leave potential job flexible and do not focus on a specific activity--there are more limited positions that involve only programming or coding, but would like to do more. I formally studied Software Engineering, an academic discipline, and could fulfill that roll if put into it. In academia, resarch of actual engineering takes place but I have not encountered it in industry (probably due to pragmatic attitudes of most employers). Developer or Hacker then, are both sufficiently general terms. Software Developer is acceptable, Hacker is preferred.</p>
