<h4>{{#linkTo programming}}Programming{{/linkTo}}</h4>
<ul id="programmingNav" class="nav nav-stacked nav-pills">
	<li>
		{{#linkTo project.analogzen}}Analog Zen: Human Portfolio{{/linkTo}}
	</li>
	<li>{{#linkTo project.dj_with_spotify}}DJ with Spotify{{/linkTo}}</li>
	<li>{{#linkTo project.soashable}}Soashable: Browser-based IM{{/linkTo}}</li>
</ul>