<!--
	<p>Note to self: The details should hopefully expand to the proper level of interest in each section.</p>
-->
<h1></h1>


<h3>I'm looking for a team that...</h3>

<ul>
	<li>is <strong>cross-functional</strong> and has open, positive communication.</li>

	<li>emphasizes <strong>value and quality</strong> in its defintion of success.</li>

	<li>needs somebody who enjoys
		<ul>
			<li><strong>developing</strong> single-page applications for small business owners.</li>

			<li><strong>automating</strong> build / deploy scripts for teams who are maintaining growing applications.</li>

			<li><strong>modernizing</strong> outdated or unmaintainable business applications.</li>

			<li><strong>advising</strong> entrepreneurs / managers about emerging technology.</li>

			<li><strong>educating</strong> people on the finer points of something unique.</li>

		</ul>
	</li>

	<li>would like help <strong>starting right away</strong>.</li>
</ul>



<h3>A few things I've done</h3>

<ul>
	<li>At the moment I'm working on {{#linkTo project.analogzen}}this portfolio{{/linkTo}}, in order to learn EmberJS and NodeJS good practices.</li>

	<li>Most recently I built {{#linkTo project.dj_with_spotify}}DJ with Spotify{{/linkTo}}, which I presented at <a href="http://hackerdojo.com/HackerFair3">HackerFair</a>.</li>

	<li>In the somewhat distant past I build {{#linkTo project.soashable}}Soashable{{/linkTo}}, an open-source, browser-based IM application like Meebo.</li>

	<li>I'm always thinking about build/deployment automation, and this has led me to work on things like {{#linkTo project.maven_js_plugin}}Maven JS Plugin{{/linkTo}} and webawesome.</li>
</ul>

<p>If you would like to know more, I have a more detailed {{#linkTo programming.resume}}resume{{/linkTo}} available.</p>

<h3>Books that influence my work</h3>
<ul>
	<li>Lean Startup</li>
	<li>Continuous Delivery</li>
	<li>Peopleware</li>
	<li>Presentation Zen</li>
	<li>Code</li>
	<li>Hardcore Zen</li>
</ul>

<!--

<h3>Developer? Programmer? Coder? Hacker? Software Engineer?</h3>

<p>What's the difference? Is there one? In practice these terms are used mostly interchangably, but when describing my role I prefer to use either Hacker or Software Developer. I feel that these terms leave potential job flexible and do not focus on a specific activity--there are more limited positions that involve only programming or coding, but would like to do more. I formally studied Software Engineering, an academic discipline, and could fulfill that roll if put into it. In academia, resarch of actual engineering takes place but I have not encountered it in industry (probably due to pragmatic attitudes of most employers). Developer or Hacker then, are both sufficiently general terms. Software Developer is acceptable, Hacker is preferred.</p>


-->
