<!--
	<p>Note to self: The details should hopefully expand to the proper level of interest in each section.</p>
-->
<h2>I enjoy</h2>


<ul>

	<li><p><strong>learning</strong> the latest approaches to web development.</p></li>

	<li><p><strong>developing</strong> modern applications and web sites.</p></li>

	<li><p><strong>advising</strong> entrepreneurs &amp; creative folks about web development.</p></li>

	<li><p><strong>modernizing</strong> legacy systems and web sites.</p></li>

	<li><p><strong>automating</strong> software build / deployment systems.</p></li>

</ul>

<h2>I've built</h2>

<!-- It seems I build to learn -->

<ul>
	<li><p>{{#linkTo project.analogzen}}this portfolio{{/linkTo}} to market myself using some new tools I want to work with.</p></li>

	<li><p>{{#linkTo project.dj_with_spotify}}DJ with Spotify{{/linkTo}} because I wished it would exist; I presented it at <a href="http://hackerdojo.com/HackerFair3">HackerFair</a></p></li>

	<li><p>{{#linkTo project.soashable}}Soashable{{/linkTo}} because I wanted to learn how in-browser IM would work, at the dawn of single-page web applications.</p></li>

	<li><p>a bunch of automation tools such as {{#linkTo project.maven_js_plugin}}Maven JS{{/linkTo}} and webawesome.</p></li>
</ul>



<h2>I want</h2>

<ul>
	<li><p>to work on a <strong>cross-functional team</strong> with strong communication.</p></li>

	<li><p>to provide <strong>value and quality</strong> in all of my work.</p></li>

	<li><p>to balance my time with <strong>sustainable habits</strong>.</p></li>

	<li><p>to use <strong>progressive ideas and tools</strong> from my favorite books.</p></li>

</ul>

<h2>I've read</h2>

<ul>
	<li>Lean Startup</li>
	<li>Continuous Delivery</li>
	<li>Peopleware</li>
	<li>Presentation Zen</li>
	<li>Code</li>
	<li>The Pragmatic Programmer</li>
</ul>

<h2>Sound good?</h2>

<p><a class="btn btn-large btn-info" href="#/programming/resume">Resume</a></p>

{{!--

<h2>Developer? Programmer? Coder? Hacker? Software Engineer?</h2>

<p>What's the difference? Is there one? In practice these terms are used mostly interchangably, but when describing my role I prefer to use either Hacker or Software Developer. I feel that these terms leave potential job flexible and do not focus on a specific activity--there are more limited positions that involve only programming or coding, but would like to do more. I formally studied Software Engineering, an academic discipline, and could fulfill that roll if put into it. In academia, resarch of actual engineering takes place but I have not encountered it in industry (probably due to pragmatic attitudes of most employers). Developer or Hacker then, are both sufficiently general terms. Software Developer is acceptable, Hacker is preferred.</p>


--}}
