<!--
	<p>Note to self: The details should hopefully expand to the proper level of interest in each section.</p>
-->
<h3>I enjoy</h3>


<ul>

	<li><p><strong>developing</strong> modern applications.</p></li>

	<li><p><strong>automating</strong> build / deploy systems.</p></li>
	<li><p><strong>modernizing</strong> legacy applications.</p></li>

	<li><p><strong>researching</strong> the latest development trends.</p></li>

	<li><p><strong>educating</strong> my peers about things I've learned.</p></li>

	<li><p><strong>advising</strong> entrepreneurs &amp; managers on dev / tech subjects.</p></li>
</ul>

<h3>I've built</h3>

<ul>
	<li><p>{{#linkTo project.analogzen}}this portfolio{{/linkTo}} to market myself using the tools I want to work with.</p></li>

	<li><p>{{#linkTo project.dj_with_spotify}}DJ with Spotify{{/linkTo}} project into <a href="http://hackerdojo.com/HackerFair3">HackerFair</a>, in March.</p></li>

	<li><p>an {{#linkTo project.soashable}}in-browser IM application{{/linkTo}} at the dawn of single-page web applications.</p></li>

	<li><p>build / deployautomation tools such as {{#linkTo project.maven_js_plugin}}Maven JS{{/linkTo}}, and webawesome.</p></li>
</ul>

<p>I have a {{#linkTo programming.resume}}resume{{/linkTo}} available, with more detailed information.</p>

<h3>I've read</h3>

<ul>
	<li>Lean Startup</li>
	<li>Continuous Delivery</li>
	<li>Peopleware</li>
	<li>Presentation Zen</li>
	<li>Code</li>
	<li>The Pragmatic Programmer</li>
</ul>



<h3>The perfect team</h3>

<ul>
	<li>is <strong>cross-functional</strong> and has strong communication.</li>

	<li>emphasizes <strong>value and quality</strong> in its defintion of success.</li>

	<li>needs to be considered more... and they're OK with that.</li>
</ul>



<!--

<h3>Developer? Programmer? Coder? Hacker? Software Engineer?</h3>

<p>What's the difference? Is there one? In practice these terms are used mostly interchangably, but when describing my role I prefer to use either Hacker or Software Developer. I feel that these terms leave potential job flexible and do not focus on a specific activity--there are more limited positions that involve only programming or coding, but would like to do more. I formally studied Software Engineering, an academic discipline, and could fulfill that roll if put into it. In academia, resarch of actual engineering takes place but I have not encountered it in industry (probably due to pragmatic attitudes of most employers). Developer or Hacker then, are both sufficiently general terms. Software Developer is acceptable, Hacker is preferred.</p>


-->
