<ul id="programmingNav" class="nav nav-stacked nav-pills">
	<li>{{#linkTo harlan.music}}I like your music.{{/linkTo}}</li>
	<li>{{#linkTo project.analogzen}}Analog Zen{{/linkTo}}</li>
	<li>{{#linkTo project.dj_with_spotify}}DJ with Spotify{{/linkTo}}</li>
	<li>{{#linkTo project.soashable}}Soashable{{/linkTo}}</li>
</ul>