<p>Note to self: The details should hopefully expand to the proper level of interest in each section.</p>

<h3>I'm looking for work</h3>

<ul>
	<li>in <strong>Minneapolis</strong> or as a <strong>remote</strong> team member.</li>

	<li>on a <strong>cross-functional</strong> team with positive communication.</li>


	<li>doing something like
		<ul>
			<li><strong>developing</strong> single-page applications for small business owners.</li>

			<li><strong>automating</strong> build / deploy scripts for small teams maintaining growing applications.</li>

			<li><strong>modernizing</strong> outdated business applications.</li>

			<li><strong>advising</strong> entrepreneurs / small business management about emerging technology.</li>

			<!-- li><strong>serving</strong> coffee to good people in a small shop with good music.</li -->

		</ul>
	</li>
	<li>and am available to start immediately.</li>

	<li><button class="btn btn-mini" {{action toggleDetails}}>Show Details</button></li>
</ul>



<h3>Some things I've worked on</h3>

<ul>
	<li>At the moment I'm working on {{#linkTo project.analogzen}}this portfolio{{/linkTo}}, in order to learn EmberJS and NodeJS good practices.</li>

	<li>Most recently I built {{#linkTo project.dj_with_spotify}}DJ with Spotify{{/linkTo}}, which I presented at <a href="http://hackerdojo.com/HackerFair3">HackerFair</a>.</li>

	<li>In the somewhat distant past I build {{#linkTo project.soashable}}Soashable{{/linkTo}}, an open-source, browser-based IM application like Meebo.</li>

	<li>I'm always thinking about build/deployment automation, and this has led me to work on things like {{#linkTo project.maven_js_plugin}}Maven JS Plugin{{/linkTo}} and webawesome.</li>
</ul>


<div class="nerd">
<h3>What I know</h3>

<button class="btn btn-mini" {{action toggleHighlightKeywords}}>Highlight Keywords</button>

<table class="table table-striped">
	<caption>A list of technologies I am interested in, sorted by relative interest.</caption>
	<thead>
		<tr>
			<th>Technology</th>
			<th>Proficiency</th>
			<th>Why? Because I have...</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Client Javascript</td>
			<td>Intermediate</td>
			<td>
				<p>worked on several frontend projects over many years using a number of frameworks, from some the very earliest (prototype) and have recently been ramping up on <span class="skill">EmberJS</span>, <span class="skill">Bootstrap</span>, NodeJS for the <span class="skill">REST</span> server, related projects.</p>
			</td>
		</tr>
		<tr>
			<td>Java Web</td>
			<td>Advanced</td>
			<td>done the majority of development over the past 10 years in Java; varying knowledge of most major frameworks, libraries, build systems, standards--most proficient with <span class="skill">EE6 Web</span>, <span class="skill">Spring</span>, and <span class="skill">CI/CD</span> automation.
		</tr>
		<tr>
			<td>Server Javascript</td>
			<td>Intermediate</td>
			<td>
				<p>
					dabbled in <span class="skill">NodeJS</span> development and understand the ideas, but I have not spent a lot of time learning the <span class="skill">NPM</span> library. I have, on the other hand, spent a lot of time learning <span class="skill">deployment good practices</span>.
				</p>
			</td>
		</tr>
		<tr>
			<td>Linux / Cloud Admin</td>
			<td>Intermediate</td>
			<td>
				<p>
					used <span class="skill">Linux</span>/*nix to host servers and as my primary OS for most of my career, with a focus on <span class="skill">Ubuntu</span>/<span class="skill">Puppet</span>, dev box <span class="skill">virtualization</span>, and provisionion/deployment/build automation (<span class="skill">continuous deployment</span>). I stand to gain experience with large scale applications.
				</p>
			</td>
		</tr>
		<tr>
			<td>Mojo (Maven)</td>
			<td>Intermediate</td>
			<td>
				<p>
					contributed to <span class="skill">Maven plugin development</span> through the {{#linkTo project.maven_js_plugin}}JS Plugin{{/linkTo}} project, which cuts pretty deep into the lifecycle with all the aspects of adding a new language to Maven.
				</p>
			</td>
		</tr>
		<tr>
			<td>Systems Programming (C, Make)</td>
			<td>Intermediate</td>
			<td>
				<p>
					used C for the bulk of my university career, including modifying the query engine for Postgresql 9; I more recently dove intp C++ while extending Mixxx for my {{#linkTo project.dj_with_spotify}}DJ with Spotify{{/linkTo}} project.
				</p>
			</td>
		</tr>
		<tr>
			<td>IM Systems / XMPP</td>
			<td>Intermediate</td>
			<td>
				<p>
					used many and developed an extensible XMPP client using DOM and Javascript. I've implemented many XEPs and followed jdev discussion for a number of years. My knowledge of XEPs in the last few years is rusty, but I am capable of ramping up quickly.
				</p>
			</td>
		</tr>
		<tr>
			<td>Lean Startup</td>
			<td>Beginner</td>
			<td>
				<p>
					been influenced by Lean ideas and tools, and used them while planning many of my recent projects.
				</p>
			</td>
		</tr>
	</tbody>
</table>

<h3>Places I've worked</h3>
<dl>
	<dt>
		Lead Developer at Emota; June 2011 to January 2013 in Mountain View, CA.
	</dt>
	<dd>
		<p>Lead implementation and participated in design of a series of prototypes/products which aimed to bring an intimate/emotional angle to existing social technologies--both software and hardware.</p>
	</dd>

	<dt>
		Web Developer at The Nerdery; July 2009 to September 2009 in Bloomington, MN.
	</dt>
	<dd>
		<p>Developed and maintained websites for media agencies; integrated many various 3rd party APIs.</p>
	</dd>


	<dt>
		Senior Java Developer at Minnesota Dept. of Human Services; February 2007 to July 2008 in St. Paul, MN.
	</dt>
	<dd>
		<p>Developed a large Java software system; mentored junior developers; analyzed business requirements; developed prototypes using alternative next-generation technologies.</p>
	</dd>


	<dt>
		Web Developer at Plaudit Design; July 2003 to January 2007 in St. Paul, MN.
	</dt>
	<dd>
		<p>Developed web based software for client organizations. Completed dozens of small projects from start to finish, using a wide array of technologies. Contributed to various process / technology improvements.</p>
	</dd>
</dl>

</div>

<h3>Books that have influenced me</h3>
<ul>
	<li>Lean Startup</li>
	<li>Peopleware</li>
	<li>Presentation Zen</li>
	<li>Code</li>
	<li>Hardcore Zen</li>

</ul>

<!--

<h3>Developer? Programmer? Coder? Hacker? Software Engineer?</h3>

<p>What's the difference? Is there one? In practice these terms are used mostly interchangably, but when describing my role I prefer to use either Hacker or Software Developer. I feel that these terms leave potential job flexible and do not focus on a specific activity--there are more limited positions that involve only programming or coding, but would like to do more. I formally studied Software Engineering, an academic discipline, and could fulfill that roll if put into it. In academia, resarch of actual engineering takes place but I have not encountered it in industry (probably due to pragmatic attitudes of most employers). Developer or Hacker then, are both sufficiently general terms. Software Developer is acceptable, Hacker is preferred.</p>


-->
