<h2>Soashable</h2>

<p>I'd been building instant messaging (IM) systems for most of my programming career, and when I found Meebo I saw something unique--a full IM application, in a web browser. AWESOME!</p>

<p>I set out to learn how it worked, and in my typical way I set out to find some Open Source things that I could build off of. I found an [XMPP] extension that specified a browser-friendly way to connect ([BOSH]). So I set up an XMPP server with BOSH enabled, found a Javascript BOSH library ([jsjac]), and found a browser-based windowing system ([EXTJS]).</p>

<p>The original concept took only a weekend to build; it was ugly and buggy,  but damn it, it worked. So I set about building a maintainable version. A number of problems came up along the way, and I incrementally solved them until I had a fairly nice, functional, maintainable application.</p>

<p>The project did achieve some popularity, which to be quite honest I did not want at the time. I ended up shutting it down, because I was preoccupied with other aspects of life at the time.</p>