<h2>Analog Zen: Career Portfolio</h2>

<div id="portfolioImages" class="carousel slide" style="height: 300px">
	<div class="carousel-inner">
		<div class="item active">
A
		</div>
		<div class="item">
B
		</div>
		<div class="item">

C
		</div>
	</div>

	<a class="carousel-control left" href="#portfolioImages" data-slide="prev">&lsaquo;</a>

	<a class="carousel-control right" href="#portfolioImages" data-slide="next">&rsaquo;</a>
</div>


<div>

<h3>Motivation</h3>

	<p class="lead">
	I want to creatively present myself as a Human who writes programs, <abbr title="Expand Description Below">not simply a programmer</abbr>.

	<button type="button" class="btn btn-mini btn-info" data-toggle="collapse" data-target="#moreMotivation"> … </button>
	</p>

	<div id="moreMotivation" class="collapse in">
		<blockquote>
			<p>The planter, who is Man sent out into the field to gather food, is seldom cheered by any idea of the true dignity of his ministry. He sees his bushel and his cart, and nothing beyond, and sinks into the farmer, instead of Man on the farm. The tradesman scarcely ever gives an ideal worth to his work, but is ridden by the routine of his craft, and the soul is subject to dollars. The priest becomes a form; the attorney, a statute-book; the mechanic, a machine; the sailor, a rope of a ship.</p>

			<p>In this distribution of functions, the scholar is the delegated intellect. <strong>In the right state, he is, Man Thinking.</strong> In the degenerate state, when the victim of society, he tends to become a mere thinker, or, still worse, the parrot of other men's thinking.</p>

			<p>-The American Scholar (Ralph Waldo Emerson)</p>
		</blockquote>

		<dl>
			<dt>Profile</dt>
			<dd>An outline of something, esp. a person's face, as seen from one side: "the man turned and she caught his profile".</dd>

			<dt>Portfolio</dt>
			<dd>A set of pieces of creative work collected by someone to display their skills, esp. to a potential employer.</dd>
		</dl>
	</div>

<h3>Alternatives</h3>

	<p class="lead">Alternatives exist and could have been used, but a custom engine fit my particular case.</p>

	<p>A <strong>LinkedIn</strong> profile presents information about past positions and projects, with human facotors delegated to a plain-text summary. I believe that cultural fit is at least as important as technical abilities.</p>

	<p>I could have used WordPress or another content engine (<strong>CMS</strong>), and produced an equivalent presentation. In this case I was personally motivated to learn a new technology stack, and this was a fitting application to for that purpose.</p>

	<p>I could have built the site with <strong>Another Web Framework</strong>, or written in any language. I chose NodeJS because it is an agile choice that is reaching maturity and has a lot of traction.</p>

<h3>Features</h3>

	<!--
	<p class="lead">The first iteration includes: splash page; three recent projects with skills; and a printable resume.</p>
-->
	<p class="lead">Designed by and for a creative professional; influenced by others in the field.</p>

	<ul>
		<li>Standard Splash page, highlighted projects, resume</li>
		<li>A Philosophy behind the content design</li>
		<li>A clean and <abbr title="to emphasize what I'm good at, but also challenge myself.">minimal</abbr> visual appearance.</li>

	</ul>



	<p>Humans are complex and multi-dimensional, so the scope is potentially unlimited.</p>

	<h3>Tools &amp; Tech Used</h3>

	<p class="lead">I built my portfolio using Bootstrap, EmberJS, NodeJS, GNU Make.</p>

<h3>Approach</h3>

	<p class="lead">I designed and built a portfolio based on what the Googles to me it should be.</p>

	<ol>
		<li>Research what a good programmer portfolio <abbr title="TODO present links and notes.">should include</abbr>.</li>
		<li>Research the best of breed <abbr title="TODO present technical solution and keywords.">technical solution</abbr> to re-enforce relevent skills.</li>
		<li><abbr title="TODO present blog posts and journal entries; webawesome.">Iterate</abbr> on content design and implementation.</li>
	</ol>


	<!--
		<dt>Collaborators</dt>
		<dd>None</dd>
	-->

	<h3>Related Social Media</h3>

	<ul>
		<li><a href="#">Blog Post...</a></li>
	</ul>


</div>
