description "Analog Zen"
author "Harlan Iverson &lt;h.iverson@gmail.com&gt;"

env NODE=/home/analogzen/.nvm/v0.10.6/bin/node
env USER=analogzen
env HOME=/home/analogzen/analogzen.com

start on runlevel [2345]
stop on runlevel [!2345]

script
        chdir $HOME
        exec start-stop-daemon --chdir $HOME --start --make-pidfile --pidfile /var/run/analogzen.pid --chuid $USER --exec $NODE $HOME/server.js >> /var/log/analogzen.log 2>&1
end script

pre-start script
        echo "[`date -u +%Y-%m-%dT%T.%3NZ`] (sys) Starting" >> /var/log/analogzen.log
end script

pre-stop script
        echo "[`date -u +%Y-%m-%dT%T.%3NZ`] (sys) Stopping" >> /var/log/analogzen.log
end script