/* I exist */

.nobr {
	white-space: nowrap;
}

.skill {
	white-space: nowrap;
}

.skill-on {
	background-color: aqua;
}

.nerd {
	display: none;
}

.nerd-on {
	display: block;
}

#siteNav .nav a.active .icon {
	color: blue;
}