/* I exist */

.nobr {
	white-space: nowrap;
}

.skill {
	white-space: nowrap;
}

.skill-on {
	background-color: aqua;
}

.nerd {
	display: none;
}

.nerd-on {
	display: block;
}

#siteNav .nav a.active .icon {
	color: blue;
}

.contact-info dd li {
	padding-left: 0px;
}

/* a little more than 480, because the second item collapses early */
@media (max-width: 500px) {
	#siteNav .nav li {
		width: 100%;

	}
}